.side_menu{
    position: fixed;
    z-index: 1;
    top: 50px;
    left: 0;
    width: 200px;
    height: 100%;
    background-color: #38393d;
}

.menu-item:hover{
   background-color: #3d6c95;
   /* opacity: 0.2; */
   border-bottom: 1px solid white;
}